<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HtmlsFolder" value="C:\Users\jinala\Documents\webrelate\WebExtractionPBE\htmls\"/>
    <add key="OutputsFolder" value="C:\Users\jinala\Documents\webrelate\WebExtractionPBE\outputs"/>
  </appSettings>
</configuration>